{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "prettier",
    "flowtype",
    "flowtype-errors"
  ],
  "env": {
    "jasmine": true,
    "jest": true
  },
  "rules": {
    "flowtype-errors/show-errors": "error",
    "no-restricted-syntax": 0,
    "import/prefer-default-export": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "trailingComma": "all"
      }
    ]
  }
}
